@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

//headers
h1, h2
	color: $accent
	font-family: $header-font
	font-weight: bold

h1
	font-size: 48px
	line-height: 64px
h2
	font-size: 36px
	line-height: 48px

//modificators
.text-right
	text-align: right


//header

.header
	min-height: 840px
	background: $bgcolor
	background-image: url('../img/_src/firstScreen.png')
	background-repeat: no-repeat
	background-size: cover
	&--row
		min-height: 500px

	.mouse
		margin-top: 100px

	.addressBlock
		position: relative
		padding-top: 9vh
	

	
//main

.main
	background-color: $bgcolor

.section
	&_1
		min-height: 420px
		&--row
			height: 420px
		p
			margin-top: 53px



@import "media" // Always at the end
